* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: "Roboto", -apple-system, system-ui, sans-serif;
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
  font-size: 14px;
}

.admin {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;

  &__open {
    display: flex;
    flex-direction: row;
  }

  &__NavBar {
    width: 23vw;
    height: 100vh;
  }
  &__Posts {
    width: 77vw;
    height: 100vh;
    overflow-y: scroll;
  }
}
